<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.tobiaserthal.akgbensheim.backend">

    <!-- Required for fetching feed data. -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- Required to get the connectivity state -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- Required to enable our SyncAdapter after it's created. -->
    <uses-permission android:name="android.permission.READ_SYNC_STATS"/>
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>

    <!-- Required because we're manually creating a new account. -->
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>

    <!-- Required to read and write local cache -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name">

        <!-- ContentProvider to store feed data. -->
        <provider android:name=".provider.DataProvider"
            android:authorities="de.tobiaserthal.akgbensheim.data.provider"
            android:label="@string/sync_all_data"
            android:exported="false"
            android:syncable="true"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="de.tobiaserthal.akgbensheim.file.provider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/paths_fileprovider"/>
        </provider>

        <!-- This service implements our SyncAdapter. It needs to be exported, so that the system
        sync framework can access it. -->
        <service android:name=".sync.SyncService"
            android:exported="true"
            android:process=":sync">
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>
            <meta-data android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>

        <service android:name=".sync.auth.AuthenticatorService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <service android:name=".sync.FoodPlanService" />

    </application>

</manifest>
